
@media all and (min-width: 480px) {
    .Login {
      padding: 60px 80px;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
    .Register {
      padding: 60px 80px;
    }
  
    .Register form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
  }