.container {
    display: flex;
    flex-direction: column;
    margin: 100;
    padding-top: 100px;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .input {
    border-radius: 10%;
    width: 200;
    height: 50;
    padding: 10;
    border-width: 1;
    border-color: 'blue';
    margin-bottom: 10;
  }
